.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#graph{
  border: 1px solid black;
  border-radius: 4px;
  /* padding: 0; */
  /* height: auto; */
}
#container{
  border : 1px solid blue
}
#TodoItemList_ac{
  border: 1px solid green;
}
.abcd{
  /* border: 2px solid red; */
  box-sizing: border-box;
}
/*  */
#mainpage_loginbox{
  border: 1px solid red;
}
#headerToolbar{
  padding: 0px;
}
#login_btn:hover{
  background-color: rgb(216, 216, 216);
}
#del_btn{
  background-color: lightgray;
  border-radius: 4px;
}
#ListItemBtn{
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}
/* #ListItemBtn li:last-child {
  border-bottom: none;
} */
ul #ListItem:last-child #ListItemBtn{
  border: none;
  padding-bottom: 0px;
}
#ListItem{
  padding-top: 0;
  
}
.abcd{
  margin-bottom: 30px;
}

/* ---------------------- */
#gra_btn{
  margin-bottom: 10px;
}
